%table.table-striped{:style => "width:100%"}
  %tr
    %td
      %p.item 日期
    - @user_items.each do |item|
      %td
        %p.item= item.title

  - map.hash_day_item.each do |d, value|
    %tr
      %td
        %p.item= d
      - @user_items.each do |item|
        %td
          %p.item= value[item.id] || '-'