%h1= "我想浪费的事" 
%br

%table.table-striped{:style => "width:100%"}
  - user_items.each do |uitem|
    %tr
      %td
        %p.item= uitem.item.title
      %td
        = link_to user_itemship_path(uitem), method: :delete, data: { confirm: "你确定要删除吗？" }, class: "btn btn-default btn-xs" do
          %i.glyphicon.glyphicon-remove

%br
= link_to "新增", new_user_itemship_path, class: "btn btn-success btn-block btn-lg"
